body{
    background-color:aquamarine;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: "vazirmatn", sans-serif;
 }



header{
    text-align: center;
    color: black;
    font-size: large;
}
header:hover{
color:deeppink


}

nav,button{
    text-align: center;
    padding: 3em;
    sha
}


button{
    font-family:"vazirmatn" ;
    background-color: black;
    color: aquamarine;
    text-align:end;
}


button:hover{

    color: black;
    background-color: aqua;
}


img{
    text-align: center;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.slider {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2 5px 15px rgba(0,0,0,0.2);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}





.prev {
    left: 15px;
}

.next {
    right: 15px;
}


/* Mobile */
@media (max-width: 768px) {
    .btn {
        width: 38px;
        height: 38px;
        font-size: 20px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .btn {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }
}